<!-- Mangesh Raut, mbr63@drexel.edu
CS530: DUI, Assignment [2] -->

{% extends 'base.html' %}
{% set active = "About" %}

{% block header %}

{% endblock %}

{% block title %}
About
{% endblock %}

{% block content %}

<h1>About Drexel Bikes</h1>
<p>
    Drexel Bikes is our personal portal to <a href="https://drexel.edu/campusservices/studentCenters/creeseCenter/BikeShare/">Drexel Bike Share</a>. There isn't much to this site right now, but we could extend it into something very cool!
</p>
{% endblock %}
